.screen-container {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 50px;
}

.ui.cards {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ui.cards > .card {
  width: 350px;
}

.finished-btn {
  padding-left: 30px;
}

.crawl-image {
  height: 200px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .ui.cards > .card {
    width: 290px;
  }

  .screen-container {
    padding-top: 40px;
  }
}
